@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Zen+Kurenaido&display=swap');

*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{

    background-image: url('https://cdn.pixabay.com/photo/2017/06/17/10/55/hot-air-balloon-2411851__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Zen Kurenaido', sans-serif;

}

label{

    color: #1f2937;
    font-size: 30px;
    font-weight: bold;

}

select{

    width: 200px;
    height: 40px;

    font-size: 20px;
    color: blueviolet;

    border-radius: 10px;
    border: 3px solid black;

    margin-top: 20px;

}

.favourites{

    background-color: rgb(193,250,101);

    text-align: center;

    width: 500px;
    height: 110px;

    border-radius: 30px;
    border: 4px solid blue;

}

#color{

    margin-left: 200px;
    margin-top: 150px;

}

#cartoon{

    margin-left: 850px;
    margin-top: -107px;

}

#sports{

    margin-left: 200px;
    margin-top: 150px;

}

#Game{

    margin-left: 850px;
    margin-top: -107px;

}

